.rooms-options__container {
    margin-top: 2.5rem;
    padding: 1rem;
    margin-right: -50%;
    width: 200%;
    display: flex;
    justify-content: space-between;
}

.rooms-options__select {
    @extend .input;
}

@media (max-width: $mobileSize) {
    .rooms-options__container {
        width: 100%;
        margin-top: 2.5rem;
        margin-right: 0;
    }
}
