.search-bar__input {
    display: flex;
    flex-direction: column;

    .place-holder {
        opacity: 0.6;
        font-size: 0.875;
    }

    .input {
        height: 3rem;
    }

    .select {
        @extend .input;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.arrow {
    position: absolute;
    left: 1rem;
}

.place-holder {
    padding-left: 1.5rem;
}
