.street-input {
    position: relative;
}

.streets-values {
    position: absolute;
    margin-top: 4rem;
    z-index: 2;
    background: #ffffff;
    width: 200%;
    border: 1px solid #ccc;
    z-index: 10;

    .street-value {
        padding: 0.5rem 0.5rem;
        border-bottom: 1px solid #ccc;
        width: 100%;

        &:hover {
            cursor: pointer;
            background: #eee;
        }
    }

    .title {
        cursor: default !important;
        font-weight: 700;
        text-align: center;
        background: #eee;
    }
}
