.main-container {
    background: #f9f9f9;
    margin: 0.5rem 0;
    min-height: 65rem;
}

.main-section {
    width: 65rem;
    margin: 0 auto;

    .commercial {
        display: block;
        margin: 1rem auto;
        width: 95%;
        max-width: 60rem;
        height: 12rem;
    }
}

@media (max-width: $mobileSize) {
    .main-section {
        width: 100%;

        .commercial {
            height: 6rem;
        }
    }
}
