.header-mobile__bar {
    display: flex;
    background: $orange;
    color: #fff;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;

    .hamburger {
        position: absolute;
        right: 1rem;
    }

    .header-img {
        img {
            width: 60%;
        }
    }
}
