.login-modal {
    position: relative;
    width: 43rem;
    min-height: 28rem;
    background: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: grid;
    grid-template-columns: 40% 60%;

    .close-modal {
        position: absolute;
        top: 1rem;
        left: 1rem;
        height: 2rem;
        width: 2rem;
        cursor: pointer;

        svg {
            font-weight: 400;
            height: 100%;
            width: 100%;
        }
    }
}

@keyframes fadeInModal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
