.header {
    font-size: 0.825rem;
    white-space: nowrap;
    width: 100vw;
    background: #fff;
    border-top: 5px solid #ff7100;
    justify-content: space-between;
    height: 7.5rem;
    box-shadow: 0 5px 6px 0 rgba(24, 7, 7, 0.1);
}
