.header {
    font-size: 0.825rem;
    position: relative;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border-top: 5px solid #ff7100;
    justify-content: space-between;
    height: 7.5rem;
    box-shadow: 0 5px 6px 0 rgba(24, 7, 7, 0.1);
}

.header-mobile {
    display: none;
}

@media (max-width: $mobileSize) {
    .header {
        display: none;
    }

    .header-mobile {
        display: block;
    }
}
