.exit {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    outline: none;

    span {
        padding-left: 0.5rem;
    }

    svg {
        vertical-align: middle;
    }

    @media (max-width: $mobileSize) {
        padding: 0;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;

        span {
            display: none;
        }
    }
}
