.search-bar__form {
    align-self: flex-end;
    display: grid;
    width: 100%;
    grid-template-columns: 20% 20% 10% 10% 10% 15% 10%;
    grid-gap: 1%;
    grid-template-rows: 1;
    // flex-wrap: nowrap;
}
