.stage__container {
    width: 100%;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .floors__container {
        margin: 0;
        display: flex;
        width: 60%;

        .input__container {
            input {
                width: 90%;
            }

            #house-number {
                width: 20%;
            }
        }
    }

    .checkBox__container {
        display: flex;
        cursor: pointer;
        span {
            font-size: 0.8rem;
        }
    }
}

@media (max-width: $mobileSize) {
    .stage__container {
        padding: 0.2rem;

        .input {
            width: 100%;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        .input__container {
            input {
                width: 100%;
            }

            #house-number {
                width: 40%;
            }
        }

        .floors__container {
            width: 100%;
        }
        .checkBox__container {
            display: none;
        }
    }
}
