.stage__contact-info {
    width: 80%;
    margin: 2rem 0;
    display: flex;

    .input__container {
        margin: 0 2rem;
        width: 60%;
    }

    .input {
        border-radius: 4px;
    }

    .name {
        width: 100%;
    }

    .phone__container {
        display: flex;

        input {
            width: 90%;
        }

        select {
            width: 40%;
            flex-direction: row;
            align-self: flex-end;
        }
    }
}

.add-contact {
    color: $orange;
    cursor: pointer;
    span {
        margin-left: 0.1rem;
    }
}

@media (max-width: $mobileSize) {
    .stage__contact-info {
        width: 100%;

        .input__container {
            width: 80%;
            margin: 0;
            margin-left: 1rem;
        }

        .phone__container {
            width: 100%;

            select {
                width: 60%;
            }
        }
    }
}
