.gallery__container {
    cursor: default;
}

.files-gallery {
    position: relative;
    width: 50vw;
    cursor: default;
    direction: ltr;

    .image-gallery-slide {
        width: 100%;
        height: 100%;
    }

    .image-gallery-slide-wrapper {
        width: 100%;
        height: 100%;
    }
}

.close-gallery {
    position: absolute;
    top: 1rem;
    left: 1rem;
    cursor: pointer;

    svg {
        font-size: 1.5rem;
    }
}
