.post__extended {
    border: 1px solid #ccc;
    padding: 1rem;

    h3 {
        margin: 0.5rem 0;
        font-weight: 700;
    }

    .details {
        margin: 1rem 0;

        .details-text {
            font-size: 0.8rem;
        }
    }

    span {
        font-size: 0.8rem;
    }

    .props {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 3;
        grid-row-gap: 0.5rem;
        flex-wrap: wrap;

        .post__details__prop {
            font-weight: 700;
            padding: 0 0.5rem;
        }
    }

    .features-title {
        margin-top: 1.5rem;
    }

    .features {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 1rem;

        .feature {
            display: flex;
            white-space: nowrap;

            span {
                font-size: 0.9rem;
            }

            .feature-value {
                padding: 0 0.25rem;
            }
        }

        .disabled {
            background: transparent;
        }
    }
}

@media (max-width: $mobileSize) {
    .post__extended {
        border: none;
        height: 100%;
        overflow: auto;

        .props {
            width: 100%;
            margin: auto;
            grid-template-columns: 100%;

            div {
                display: flex;
                justify-content: space-between;
                padding: 0.5rem 0;
                border-bottom: 1px solid #eee;

                span {
                    font-size: 0.9rem;
                }
            }
        }
    }
}
